<h1>Admin Home</h1>
<div class="col-md-3">
  <div class="list-group">


    
    <a class="list-group-item" routerLink="/Client-add">Add Client</a>
    <a class="list-group-item" routerLink="/Client-List">View Client List</a>

    <a class="list-group-item" routerLink="/Trader-add">Add Trader</a>
    <a class="list-group-item" routerLink="/Trader-list">View Trader List</a>

    <a class="list-group-item" routerLink="/cropdetails-add">Add Crop</a>
    <a class="list-group-item" routerLink="/cropdetails-list">View Crop List</a>

    <a class="list-group-item" routerLink="/Fert-add">Add Fertiliser</a>
    <a class="list-group-item" routerLink="/Fert-List">View Fertiliser List</a>

    <a class="list-group-item" routerLink="/croptype-add">Add Crop Type</a>
    <a class="list-group-item" routerLink="/croptype-list">View Crop List</a>

    <a class="list-group-item" routerLink="/seed-add">Add Seed</a>
    <a class="list-group-item" routerLink="/seed-list">View Seed list</a>

    <a class="list-group-item" routerLink="/services-add">Add Services</a>
    <a class="list-group-item" routerLink="/services-list">View Services List</a>

    <a class="list-group-item" routerLink="/tradingtype-add">Add Trading Type</a>
    <a class="list-group-item" routerLink="/tradingtype-list">View Tradin Types</a>

    <a class="list-group-item" routerLink="/servicepr-add">Add Service Provider</a>
    <a class="list-group-item" routerLink="/servicepr-list">View Service Provider List</a>

  </div>
</div>
<div class="col-md-3"></div>


<div class="col-md-3"></div>
<div class="col-md-3"></div>
<div class="col-md-3"></div>